﻿#SettingsPage_Content {
min-height: 300px;
margin-bottom: 20px;
}

body {
font-size: 11px;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
color: #333;
line-height: 1.28;
text-align: left;
direction: ltr;
}
.fbSettingsList {
border-bottom: 1px solid #aaa;
border-top: 1px solid #aaa;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

user agent stylesheetul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
.uiListItem:first-child {
border-width: 0;
}

._4ks > li {
border-color: #e9e9e9;
border-style: solid;
}

.fbSettingsList a.fbSettingsListLink {

display: block;
text-decoration: none;
}
.pvm {
padding-top: 10px;
padding-bottom: 10px;
}

.fbSettingsList .fbSettingsListItemLabel {
color: #333;
float: left;
width: 300px;
text-align:left;
font-weight:bold;
font-size:12;
}
.pls {
padding-left: 5px;
}

.fbSettingsList .fbSettingsListItemSaved, .fbSettingsList .fbSettingsListItemEdit {
color: #3b5998;
float: right;
padding-left: 25px;
padding-right: 5px;
text-align: right;
}
.uiInfoTableFixed {
table-layout: fixed;
}
.uiInfoTable {
border: 0;
border-collapse: collapse;
border-spacing: 0;
width: 100%;
}

.uiIconText {
display: inline-block;
padding-left: 21px;
position: relative;
}
.uiBoxGray {
background-color: #f2f2f2;}
.phs
{
background-color: #f2f2f2;}
#facebook .hidden_elem {
display: none !important;
}
.fbSettingsList .fbSettingsListItemSaved {
color: #777;
}

.fbSettingsListItemLabeled .fbSettingsListItemContent {
margin-left: 175px;
padding-left: 0;
width: 445px;
}
.fbSettingsList .fbSettingsListItemContent {
display: block;
padding-left: 5px;
width: 460px;
text-align:left;
}

user agent stylesheetdiv {
display: block;
}
.uiInfoTableFixed {
table-layout: fixed;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.mtm 
{
	margin-top: 5px;
	text-align:center;
}
.topborder 
{
	margin-left:300px;
	width:350px;
	border: 1px solid #ccc;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.uiInfoTable .label,.uiInfoTable .rightCol {
	padding: 3px 0 1px 0;
	text-align: right;
	vertical-align: top;
}
.uiInfoTable .data
{
	padding: 3px 0 1px 0;
	text-align: left;
	vertical-align: top;
	}
form {
margin: 0;
padding: 0;
}


#btnsave
{
	background-color: #5b74a8;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 13px;
	margin: 0;
	padding: 1px 0 2px;
	white-space: nowrap;
	line-height: 13px;
	height: 27px;
	width: 109px;
	cursor: pointer;
}
#btncancel
{
	background-color: #5b74a8;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 13px;
	margin: 0;
	padding: 1px 0 2px;
	white-space: nowrap;
	line-height: 13px;
	height: 27px;
	width: 109px;
	cursor: pointer;
}
#editpassword
{
	cursor: pointer;	
	}
.data
{
	font-size: 11px;
		
	}
#divtitle
{
	border-color: #e9e9e9;
	}