@charset "utf-8";

img,a{border:none; text-decoration:none; color:#193a56;}
.color1{color:#193a56;}
a.color1{color:#193a56;}
a.color1:hover{color:#193a56; text-decoration:underline;}
.color2{color:#0a539d;}
a.color2{color:#0a539d;}
a.color2:hover{color:#0a539d; text-decoration:underline;}
.color3{color:#6cccf3}
a.color3{color:#6cccf3}
a.color3:hover{color:#6cccf3; text-decoration:underline;}
.color4{color:#011a24;}
a.color4{color:#011a24;}
a.color4:hover{color:#ae0f14;}
.color5{color:#929292;}
a.color5{color:#929292;}
a.color5:hover{color:#ae0f14;}
.color6{color:#832700;}
a.color6{color:#832700;}
a.color6:hover{color:#FC0;}
.colorF{color:#FFF;}
a.colorF{color:#FFF;}
a.colorF:hover{color:#FFF; text-decoration:underline}
.color7{color:#105a90;}
a.color7{color:#105a90;}
a.color7:hover{color:#751C22;}
.color9{color:#999;}
.fontsize9{font-size:9px;}
.fontsize10{font-size:10px;}
.fontsize11{font-size:11px;}
.fontsize12{font-size:12px;}
.fontsize13{font-size:13px;}
.fontsize14{font-size:14px;}
.fontsize15{font-size:15px;}
.fontsize16{font-size:16px;}
.fontsize18{font-size:18px;}
.fontsize19{font-size:19px;}
.fontsize22{font-size:22px;}
.fontsize36{font-size:36px;}
.fontsize48{font-size:48px;}
.fontsize20{font-size:20px;}
.fontsize30{font-size:30px;}
.fontsize24{font-size:24px;}
.fontsize28{font-size:28px;}
.bold{font-weight:bold;}
.fontItalic{font-style:italic;}
.textJustify{text-align:justify;}
.textRight{text-align:right;}
.texUnder{text-decoration:underline;}
.textNomal{font-weight:normal;}
.textLeft{text-align:left;}
.textIdent{text-indent: 20px;}
.textCter{text-align:center;}
.textTrans{text-transform:uppercase;}
.paddingTb10px{padding: 10px 0 10px 0;}
.padding10px{padding:10px;}
.paddingT10{padding-top:10px;}
.paddingTb4{padding:4px 0 4px 0;}
.padding4{padding:4px;}
.paddingBt4{padding-bottom:4px;}
.paddingBt6{padding-bottom:6px;}
.paddingLr10{padding:0 10px 0 10px;}
.paddingLr20{padding:0 20px 0 20px;}
.paddingBt10{padding-bottom:10px;}
.paddingleft14{padding-left:14px;}
.paddingT20{padding-top:20px;}
.paddingR14{padding-right:14px;}
.paddingLeft30{padding-left:30px;}
.padding8{padding:8px;}
.paddingR2{padding-right:2px;}
.paddingR10{padding-right:10px;}