body
{
    text-align: center;
    margin: 0 auto;
    background-color: #ffffff; /* #257bc2;*/        
}
img
{
    border-style: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(...);
}
table
{
    border-color: inherit;
    border-width: 0px;
    border-style: none;
    border-collapse: collapse;
    border-spacing: 0px;
}
input
{
	height:20px;
	}
#img1
{
    background: url(../images/img19.png);
}
#img2
{
    background: url(../images/img20.png);
}
#img3
{
    background: url(../images/img21.png);
}
#img4
{
    background: url(../images/img22.png);
}
#img5
{
    background: url(../images/img23.png);
}
.hxt1
{
    background-color: #FFFFFF;
    position: relative;
    top: 0px;
    width: 996px;
    height: 474px;
}
.hxt2
{
    position: relative;
    top: 0px;
    width: 996px;
    height: 4px;
    background-image: url(../images/img1.gif);
    background-repeat: no-repeat;
}
.hxt3
{
    position: relative;
    top: 10px;
    width: 996px;
    height: 23px;
    text-align: left;
}
.hxt4
{
    background-image: url(../images/img2.gif);
    background-repeat: no-repeat;
    width: 5px;
    height: 23px;
}
.hxt5
{
    background-color: #1556a6;
    width: 986px;
    height: 23px;
}
.hxt6
{
    background-image: url(../images/img3.gif);
    background-repeat: no-repeat;
    width: 5px;
    height: 23px;
}
.hxt7
{
    margin-left: 20px;
    font-family: Arial;
    font-size: 12px;
    color: #ffffff;
}
.hxt8
{
    background-image: url(../images/img4.gif);
    background-repeat: no-repeat;
    width: 617px;
    height: 86px;
    position: relative;
    top: 0px;
    left: 123px;
    z-index: 1;
}
.hxt9
{
    background-image: url(../images/img5.gif);
    background-repeat: repeat-x;
    width: 966px;
    height: 179px;
    text-align: right;
}
.hxt10
{
    width: 5px;
    height: 179px;
    background-image: url(../images/img6.gif);
    background-repeat: no-repeat;
}
.hxt11
{
    position: relative;
    top: -20px;
    left: 10px;
    width: 976px;
    height: 179px;
}
.hxt12
{
    width: 5px;
    height: 179px;
    background-image: url(../images/img7.gif);
    background-repeat: no-repeat;
}
.hxt13
{
    position: relative;
    width: 976px;
    height: 25px;
    z-index: 2;
    top: -25px;
    left: 10px;
}
.hxt14
{
    width: 5px;
    height: 25px;
    background-image: url(../images/img8.gif);
    background-repeat: no-repeat;
}
.hxt15
{
    width: 966px;
    height: 25px;
    background-image: url(../images/img10.gif);
    background-repeat: repeat-x;
    text-align: right;
}
.hxt15 a, span
{
    font-family: Tahoma;
    font-size: 9pt;
    word-spacing: 2px;
    color: #fefefe;
    text-decoration: none;
}
.hxt15 a:hover
{
    color: #ffee00;
}

.hxt16
{
    width: 5px;
    height: 25px;
    background-image: url(../images/img9.gif);
    background-repeat: no-repeat;
}
.hxt17
{
    width: 191px;
    height: 169px;
    text-align: left;
    float: right;
    clear: left;
}
.hxt17 a, .hxt17 a:visited
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #fefefe;
    text-decoration: none;
    line-height: 17pt;
}
.hxt17 a:hover
{
    font-weight: bolder;
    color: #ffee00;
}
.hxt18
{
    position: relative;
    left: 10px;
    top: -199px;
    background-image: url(../images/img11.jpg);
    background-repeat: no-repeat;
    width: 762px;
    height: 179px;
    z-index: 3;
}
.hxt19
{
    width: 207px;
    height: 186px;
    display: inline;
    float: left;
    clear: right;
    background-image: url(../images/img14.gif);
    background-repeat: no-repeat;
}
.hxt20
{
    width: 207px;
    height: 186px;
    display: inline;
    float: left;
    clear: left;
    background-image: url(../images/img15.gif);
    background-repeat: no-repeat;
}
.hxt21
{
    position: relative;
    top: -190px;
    left: 337px;
    width: 660px;
    height: 188px;
}
.hxt22
{
    width: 215px;
    height: 186px;
    background-image: url(../images/img16.gif);
    background-repeat: no-repeat;
    text-align: left;
}
.hxt22 a, .hxt22 a:visited
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #3f5e76;
    text-decoration: none;
    line-height: 16pt;
}
.hxt22 a:hover
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #222222;
    text-decoration: underline;
    line-height: 16pt;
}
.hxt22 table
{
    margin-top: 20px;
    margin-left: 15px;
}
.hxt23
{
    position: relative;
    top: -657px;
    left: 24px;
    width: 312px;
    height: 478px; /*478px;*/
    background-image: url(../images/img12.png);
    background-repeat: no-repeat;
    z-index: 4;
    
    
}
.hxt24
{
    background-image: url(../images/img17.png);
    background-position: left center;
    background-repeat: no-repeat;
    width: 10px;
}
.hxt25
{
    width: 200px;
    height: 14px;
    position: relative;
    top: 2px;
    left: 30px;
}
.hxt25 span
{
    font-family: Tahoma;
    font-size: 10pt;
    font-weight: bolder;
    color: #2264a9;
    text-decoration: none;
}

.hxt26
{
    background-image: url(../images/img18.gif);
    background-position: left center;
    background-repeat: no-repeat;
    width: 16px;
}
.hxt27
{
    font-family: Tahoma;
    font-size: 10pt;
    color: #3f576b;
    text-align: justify;
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
.hxt28
{
    height: 22px;
    text-align: right;
    padding-right: 10px;
    vertical-align: middle;
}
.hxt28 a, .hxt28 a:visited
{
    font-family: Tahoma;
    font-size: 8pt;
    color: #84aab6;
    text-decoration: none;
}
.hxt28 a:hover
{
    font-family: Tahoma;
    font-size: 8pt;
    color: #0e0e0e;
    text-decoration: none;
}
.hxt29
{
    width: 999px;
    height: 512px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 60px;    
}
.hxt30
{
    position: relative;
    top: 290px;
    left: 40px;
    width: 250px;
}
.hxt30 a, .hxt30 a:visited
{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 10pt;
    color: #525050;
    text-decoration: none;
}
.hxt30 a:hover
{
    text-decoration: underline;
}
.hxt31 div
{
    width: 30px;
    height: 30px;
}
.hxt31
{
    width: 50px;
    text-align: center;
    vertical-align: middle;
}
.hxt32
{
    width: 270px;
    height: 247px;
    position: relative;
    left: 15px;
    top: -140px;
    z-index: 4;
    background-image:url(../images/logoOJB_1_Final1.jpg);
    background-position:top;
    background-repeat:no-repeat;
    display:inline-block;
}
.hxt33
{
    background-image: url(../images/img24.gif);
    background-repeat: no-repeat;
    background-position: left center;
    height: 1px;
}
.hxt34
{
    color: #FEFEFE;
    position: relative;
    left: 20px;
    top: 67px;
    font-family: Arial;
    font-size: 9pt;
    font-weight: bolder;
    text-transform: uppercase;
}
.hxt35
{
    position: relative;
    left: 25px;
    top: 87px;
    font-family: Tahoma;
    color: #0A0A0A;
    font-size: 8pt;
}
.hxt36
{
    position: relative;
    left: 55px;
    top: 105px;
    font-family: Tahoma;
    color: #0A0A0A;
    font-size: 8pt;
}
.hxt37
{
    position: relative;
    left: 118px;
    top: 119px;
}
.hxt37 a, .hxt37 a:visited
{
    font-family: Arial;
    font-weight: bolder;
    color: #fefefe;
    font-size: 8pt;
    text-decoration: none;
    word-spacing: 2px;
    text-align: left;
    vertical-align: middle;
}
.hxt37 a:hover
{
    color: #ffee00;
}
.hxt37 img
{
    vertical-align: text-bottom;
}
.hxt38
{
    width: 50px;
    height: 35px;
    position: relative;
    float: left;
    top: 140px;
    left: 35px;
    text-align: justify;
}
.hxt39
{
    width: 50px;
    height: 35px;
    position: relative;
    float: left;
    top: 140px;
    left: 58px;
    text-align: justify;
}
.hxt40
{
    width: 50px;
    height: 35px;
    position: relative;
    float: left;
    top: 140px;
    left: 87px;
    text-align: justify;
}
.hxt41, .hxt41:visited
{
    text-decoration: none;
    font-family: Tahoma;
    font-size: 8pt;
    color: #a0a0a0;
}
.hxt41:hover
{
    text-decoration: underline;
    color: #0a0a0a;
}
.hxt42
{
    border-style: none;
    color: #2a8b04;
    font-family: Tahoma;
    font-size: 10pt;
    background-color: Transparent;
}
.hxt43
{
    position: relative;
    float: left;
    top: 4px;
    left: 115px;
    z-index: 5;
}
.hxt44
{
    position: relative;
    float: left;
    top: 34px;
    left: -9px;
    z-index: 5;
}
.hxt45
{
    position: relative;
    width: 136px;
    height: 50px;
    top: -495px;
    left: 850px;
    background-color: Transparent;
    text-align: right;
    vertical-align: bottom;
    z-index: 10;
}
.hxt45 a
{
    color: #7697a6;
    text-decoration: none;
    font: bold 7px verdana,sans-serif;
    letter-spacing: .5px;
    text-align: right;
}
.hxt46
{
    width: 1154px;
    height: 628px;
    text-align: center;    
    margin-left: auto;
    margin-right: auto;
    background-color:#257bc2;    
}

/*input[type="password"]  {border: 1; outline: none;} 
/*input[type="password"]  :hover {outline: none;} /*colour on mouse hover */ 
/*input[type="password"]  :focus {outline: none;} /*colour when gains focus by tabbing, or while typing */ 
/*input[type="password"]  :active {outline: none;} /*colour while mouse depressed */

/*input[type="text"]  {border: none; outline: none;} */
/*input[type="text"]  :hover {outline: none;} /*colour on mouse hover */ 
/*input[type="text"]  :focus {outline: none;} /*colour when gains focus by tabbing, or while typing */ 
/*input[type="text"]  :active {outline: none;} /*colour while mouse depressed */

/*CuongNM*/
.block_top {
	background: #EDEDED url(../images/img10.gif);
	padding: 0px;
	padding: 8px 11px 4px 11px;
	margin: 0px;
	width: auto;
	height: 15px;
	border-top: solid #CDCDCD 1px;
	border-left: solid #CDCDCD 1px;
	border-right: solid #CDCDCD 1px;
	font-weight: bold;
	color:#FFFFFF;
	font-family: Verdana; 
	font-size: 11px;
	text-align: left;
	
}
.block_middle {
	background: #FCFCFC;
	padding: 0px;
	padding: 4px;
	width: auto !important;	
	border: solid #CDCDCD 1px; 
	/*font-family: Verdana; */
	/*font-size: 11px;*/
	line-height: 150%;
	/*text-align: left;*/
	
	font-family: Tahoma;
    color: #0A0A0A;
    font-size: 8pt;
    height:230px;
}
.block_bottom {

}
.input_text 
{
	padding: 2px;
	background: #EEEEEE;
	border-bottom-color: #b6b6b6; 
	border-bottom-width: 0px;
	border-left-color: #b6b6b6; 
	border-left-width: 0px;
	border-right-color: #b6b6b6; 
	border-right-width: 0px;
	border-top-color: #b6b6b6; 
	border-top-width: 0px;
	font-size: 11px;
	text-decoration: none;
	
	color: #2a8b04;
    font-family: Tahoma;
    width:100%;
    
}
.btnlogin {
background: url(../images/btn.png) top left no-repeat;
display: block;
font-family: Tahoma;
font-size: 13px;
font-weight: bold;
float: left;
height: 27px;
color: #FFF;
width: auto;
border: none;
cursor: pointer;
}
.btngmail {
background: url(../images/gmail.png) top left no-repeat;
display: block;
font-family: Tahoma;
font-size: 13px;
font-weight: bold;
float: left;
height: 50px;
color: #FFF;
width: 50px;
border: none;
cursor: pointer;
}
.btnfacebook {
background: url(../images/facebook.png);
display: block;
font-family: Tahoma;
font-size: 13px;
font-weight: bold;
float: left;
height: 50px;
color: #FFF;
width: 50px;
border: none;
cursor: pointer;
}
.btntwitter {
background: url(../images/twitter.png) top left no-repeat;
display: block;
font-family: Tahoma;
font-size: 13px;
font-weight: bold;
float: left;
height: 50px;
color: #FFF;
width: 50px;
border: none;
cursor: pointer;
}
.btnsignup {
background: url(../images/btnUser.jpg) top left no-repeat;
display: block;
font-family: Tahoma;
font-size: 13px;
font-weight: bold;
float: left;
height: 27px;
color: #0c3c91;
width: 109px;
border: none;
cursor: pointer;
}