html
{
}

body
{
	background: #ffffff; 
	font-family: tahoma;
	color: #1A2A3C;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-align: left;
}

a
{
	text-decoration: none;
	color: #1A2A3C;
}

a:hover
{
	text-decoration: underline;
}   

ul, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}



input[type="button"]
{
	background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #666666;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 11px 6px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
}

input[type="button"]:hover
{
	background-color: #F8F8F8;
	color: #333333;
    border: 1px solid #C6C6C6;
}

input[type="button"]:focus
{
	border: 1px solid #4D90FE;
    outline: medium none;
}

.msg{
	padding-left: 7px;
	color: red;
}

#main
{
	margin:0 auto;
}

#header
{
	background: #F5F5F5;
	height: 80px;
	overflow: hidden;
	border-bottom: 1px solid #E5E5E5;
}

.header-wrap
{
	width:980px;
	height: 80px;
	text-align: left;
	padding-top: 20px;
	
}

#menu
{
	width: 100%;
	height: 50px;
	background:#005baa;
	border-top: 2px solid white;
	border-bottom: 1px solid #034ea2;
	overflow: hidden;
	text-align:center;
	color:White; 
	 font-family :Times New Roman
}

.wrap-menu
{
    text-align:center ;
    width:980px;
    font-size:small 
}

.hello
{
	 width:980px;
	 height: 90%;
	 text-align: right;
	 color: #ffffff;
	 padding-top: 18px;
}

#menu li {
    float: left;
    height: 27px;
    margin-right: 8px;
    padding-top: 8px;
    position: relative;
    z-index: 0;
}
#menu li span {
    background: url("../images/common/menu-delim.jpg") repeat-y scroll right top transparent;
    display: block;
    padding: 0 10px 0 0;
    
}
#menu li span a
{
	color: #f15a22;
	font-size: 14px;
}
#menu li.last {
    margin: 0;
}
#menu li.last span {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
}
#menu li a:hover, #menu li.current a {
    color: #ffffff;
    text-decoration: none;
}
.ghb
{
	/*height: 0;*/
	width: 100%;
	border-top: 1px solid #C9D7F1;
	font-size: 1px;
}

#content
{
	width: 980px;
	height: auto;
	margin-top: 10px;
	text-align: left;
	border: solid 1px #E9E9E9;
}

.content-wrap
{
	width: 75%;
	height: 100%;
	overflow: hidden;
	margin-left:20px;
	margin-right:100px;
	font-family:Arial;
	font-size:small;
	text-align :justify;
}

.content-title
{
	background: #F5F5F5;
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	border-bottom: 1px solid #E5E5E5;
	padding-top: 10px;
	padding-left: 2px;
}

.content-sub-title
{
	background: #F5F5F5;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	border-bottom: 1px solid #E5E5E5;
	padding-top: 10px;
	padding-left: 2px;
	cursor: pointer;
}

.search-area
{
	text-align: left;
	padding-left: 50px;
	

}

.table_title
{
	background: #2e3192;
	font-weight: bold;
	font-size: 12px;
	color: white;
	
}

/*--------begin-textarea-----------------*/

.auto-resize-area
{
    height: auto;
    width: 100%;
    float: left;
    
}
.auto-resize-area textarea
{
	border:solid 1px #BDC7D8; 
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: tahoma;
	font-size: 11px;
	color: #1A2A3C;
	padding: 2px;
}

.auto-resize-area textarea:hover
{
	/*border: 2px solid #C6C6C6;*/
	border: 1px solid #A0A0A0;
	
}

.auto-resize-area textarea:focus
{
	/*border: 2px solid #C6C6C6;*/
	border: 1px solid #4D90FE;
	outline: medium none;
	
}
/*--------end-textarea-----------------*/

.table_light_item
{
	background: white;
	cursor: pointer;
}

.table_dark_item
{
	background: #F5F5F5;
	cursor: pointer;
}

.table_dark_item:hover
{
	/*background: white;*/
}


#bottom
{
	float:left;
	width: 100%;
	height: 70px;
	border-top: solid 2px #E9E9E9;
	vertical-align: bottom;
	margin-top: 5px;
}

.bottom-wrap
{
	width: 980px;
	text-align: center;
	color: #898989;
	padding-top: 5px;
}

.sontn
{
	width: 100%;
	height :20px;
	font-family:Arial;
	font-size:small ;
	text-align:center;
	background:#005baa;
	color:White; 
	font-family :Times New Roman
}

input_text,
input_text_white,
input_select,
input_quicklinks,
input_error,
input_ok,
textarea {
	padding: 2px;
	background: #EEEEEE;
	border-bottom-color: #b6b6b6; 
	border-bottom-width: 1px;
	border-left-color: #b6b6b6; 
	border-left-width: 1px;
	border-right-color: #b6b6b6; 
	border-right-width: 1px;
	border-top-color: #b6b6b6; 
	border-top-width: 1px;
	color: #000000;
	font-family: Verdana; 
	font-size: 12px; 
	text-decoration: none;
	width:300px;
	height:100px;
}

.dropdown 
{
	border-style:solid;
	border-color: #b6b6b6;
	border-width:1px;
	background: #EEEEEE;
	color: #000000;
	font-family: Verdana; 
	font-size: 11px; 
	text-decoration: none;
}

TR.tr_gridheader
{
	font-weight: bold;
	font-family: 'Arial';
	Color:#10285D;
	background-color: #AFBED0;
	height:50px;
}
TR.item_unchecked
{
	font-family: 'Arial';
	height: 6px;
	background-color: #E8EEF7; /*mau cu #E8EEF7;e6f0ed*/
}
input
{
	width:305px;
}
textarea 
{
	
}
.captcha
{
	display:block;
	}*/