@charset "utf-8";
.clearfix{clear:both;}
.header {
background: url(../images/header.jpg) top left no-repeat;
width: 80%;
height: 90px;
overflow: hidden;
}
body{color:#193B57; margin:0; padding:0; font-family:"Arial", Helvetica, sans-serif; font-size:12px;}
#mainBdy{width:80%; margin:0 auto; overflow:hidden; clear:both; padding:0; background:url(../images/bgBackground.jpg) #f5f9fc top left repeat-x;}
.ddsmoothmenu {
width: 50%;
float: right;
}
.ddsmoothmenu ul li {
position: relative;
display: inline;
float: left;
}
.ddsmoothmenu{
width: 50%;
float:right;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
float:right;
padding-right:10px;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
padding:4px 4px 5px 4px;
border-right:solid 1px #cccccc;
text-decoration: none;
}
.MultilChild li a
{
display: block;
background: #E6E6E6; /*background of menu items (default state)*/
padding:4px 4px 5px 4px;
text-decoration: none;}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
width: 175px; /*width of sub menus*/
padding: 5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid #cccccc;
}
.ddsmoothmenu ul li a:hover{text-decoration:underline;}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 8px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.8;
}
.floatRight {
	float: right;
}
.blockMnuBar{position:relative; height:50px; top:-8px; clear:both;}
.blockMnuBar ul{ float:right; margin:0; padding:0;}
.blockMnuBar ul li{list-style:none; float:left; padding: 0 2px 0 0; line-height:30px; height:30px;}
.blockMnuBar ul li a{background:url(../images/amnu.gif) top left no-repeat; padding: 0 0 0 20px; display:block; text-transform:uppercase; color:#FFF; text-decoration:none}
.blockMnuBar ul li a span{background:url(../images/spanMnu.gif) top right no-repeat; padding: 0 20px 0 0; display:block;}
.blockMnuBar ul li a:hover,
.blockMnuBar ul li a.selectedMnu{background:url(../images/aSelected.gif) top left no-repeat; display:block;}
.blockMnuBar ul li a:hover span,
.blockMnuBar ul li a.selectedMnu span{background:url(../images/SpanSelected.gif) top right no-repeat; display:block}
.blockMnuBar ul li ul{position:absolute; right:0; line-height:20px;margin:0; padding:0; width:960px; float:right;}
.blockMnuBar ul li ul li{list-style:none; float:right; padding: 0 2px 0 0; display:block;}
.blockMnuBar ul li ul li a{color:#193a56; padding: 0 6px 0 6px; display:block; background:none; line-height:20px; text-transform:none;}
.blockMnuBar ul li ul li a:hover{color:#193a56; padding: 0 6px 0 6px; display:block; background:none; text-decoration:underline; line-height:20px;}
#colunmLeft {
	width: 75%;
	float: left;
	overflow: hidden;
	margin-left:5px;
}
div {
display: block;
}
#colunmRight {
	float: right;
	width: 23%;
	overflow: hidden;
	margin-right:5px;
}
.color3 {
color: #6CCCF3;
}
a.colorF {
color: white;
}
.blockLoginUser {
	background: url(../images/bgCterloginuser.jpg) top left repeat-y;
	width: 255px;
	margin-bottom: 6px;
	clear: both;
}
.blockLoginUserBtom {
	background: url(../images/bgBtomloginuser.jpg) bottom left no-repeat;
	width: 255px;
	min-height: 110px;
	height: auto;
	height: 110px;
}
.blockLoginUserTop {
	background: url(../images/bgToploginuser.jpg) top left no-repeat;
	width: 255px;
}
.blockLoginUserCtent {
	padding: 10px 24px 10px 24px;
}
.paddingBt10 {
	padding-bottom: 10px;
}
.boxFAQ {
	background: url(../images/linelogin.jpg) top right no-repeat;
	width: 50%;
	float: left;
	min-height: 30px;
	height: auto;
	height: 30px;
	text-align: center;
}
.fullname
{
 	margin-top:4px;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	float: left;
	height: 20px;
	color: Red;
	border: none;
}
.wellcome
{
 	margin-top:4px;
 	background-color: transparent;
	display: block;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: lighter;
	float: left;
	height: 20px;
	color: Gray;
	border: none;
}
.btnlogout
 {
 	margin-top:3px;
 	background-color: transparent;
	display: block;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	float: left;
	height: 20px;
	color: Gray;
	border: none;
	cursor: pointer;
}
.btnLogin {
	background: url(../images/btnUser.jpg) top left no-repeat;
	display: block;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	float: left;
	height: 27px;
	color: white;
	width: 109px;
	border: none;
	cursor: pointer;
}
.btnsignup {
	background: url(../images/btnUser.jpg) repeat-x;
	display: block;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	float: left;
	height: 27px;
	color: #0C3C91;
	width: 109px;
	border: none;
	cursor: pointer;
	background-position: -120px 0;
	width: 86px;
	float: right;
}
.btnsend {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	height: 27px;
	color: #0C3C91;
	width: 109px;
	cursor: pointer;
	width: 86px;
	text-align:center;
}
a.colorF {
color: white;
}
.boxphone, .boxmail, .boxloginAdmin {
	background: url(../images/toolsTienich.jpg) top left no-repeat;
	padding: 2px 0 2px 52px;
	height: 28px;
	border-bottom: 1px solid #C1D4F0;
	margin-bottom: 4px;
	clear: both;
}
.boxTabShare{background:url(../images/bgtabCter.jpg) top left repeat-x; clear:both; margin-bottom:6px; height:22px; line-height:22px;}
.boxTabShareLeft{background:url(../images/bgtabLeft.jpg) top left no-repeat; padding-left: 10px; height:22px;}
.boxTabShareRight{background:url(../images/bgtabRight.jpg) top right no-repeat; padding-right:10px;  height:22px;}

.boxTabShare1{ clear:both; margin-bottom:6px; line-height:22px;}
.boxTabShareLeft1{ /*padding-left: 10px;*/}
.boxTabShareRight1{ padding-right:10px; }

h1{background:url(../images/iconblue.gif) 0 5px no-repeat; padding: 0 0 0 16px; font-size:13px; line-height:22px;}

ul.classMnuShare{margin:0; padding: 6px;}
ul.classMnuShare li{list-style:none; /*line-height: 22px; padding-top:8px;*/ background:url(../images/iconblue1.gif) 0 13px no-repeat; padding-left: 10px;}
ul.classMnuShare li a{color:#193a56}
ul.classMnuShare li a:hover{color:#193a56; text-decoration:underline;}

ul.classMnuShare1{margin:0; padding:0 0 6px 15px;}
ul.classMnuShare1 li{list-style:none; line-height: 22px; background:url(../images/iconblue1.gif) 0 8px no-repeat; padding-left: 10px;}
ul.classMnuShare1 li a{color:#193a56}
ul.classMnuShare1 li a:hover{color:#193a56; text-decoration:underline;}
.blockNews{float:left; width:472px; padding-right:8px;}
.blockMangluoi{float:right; width:232px;}
.blockLoginUser{background:url(../images/bgCterloginuser.jpg) top left repeat-y; width:255px; margin-bottom:6px; clear:both;}
.blockLoginUserTop{background:url(../images/bgToploginuser.jpg) top left no-repeat; width:255px;}
.blockLoginUserBtom{background:url(../images/bgBtomloginuser.jpg) bottom left no-repeat; width:255px; min-height:110px; height:auto!important; height:110px;}
.blockLoginUserCtent{padding:10px 24px 10px 24px;}
.btnLogin{background:url(../images/btnUser.jpg) top left no-repeat; display:block; font-family:Tahoma; font-size:13px; font-weight:bold; float:left; height:27px; color:#FFF; width:109px; border:none; cursor:pointer}
.btnsignup{background:url(../images/btnUser.jpg) top left no-repeat; display:block; font-family:Tahoma; font-size:13px; font-weight:bold; float:left; height:27px; color:#0c3c91; width:109px; border:none; cursor:pointer}
.btnsignup{background-position: -120px 0;width:86px; float:right}
.boxFAQ{background:url(../images/linelogin.jpg) top right no-repeat; width:50%; float:left; min-height: 30px; height:auto!important; height:30px; text-align:center;}
.blockTienich{background:url(../images/bgCterTienich.jpg) top left repeat-y; width:255px; margin-bottom:8px; overflow:hidden;}
.blockTienichBtom{background:url(../images/bgbtomtietich.jpg) bottom left no-repeat; width:255px;}
ul.tabT-ich{margin:0; padding:0;}
ul.tabT-ich li{float:left;list-style:none; text-align:center; line-height: 22px; font-weight:bold;}
ul.tabT-ich li a{padding: 0 5px 0 5px; color:#252f39}
ul.tabT-ich li a:hover,ul.tabT-ich li a.activetab{color:#0A539D;}
.blockTienich table{border:none; margin:0; padding:0; font-size:11px;}
.blockTienich table td{border-bottom:1px solid #c9d9f3; color:#30363c; text-align:center; line-height:18px;}
.boxphone,
.boxmail,
.boxloginAdmin{background:url(../images/toolsTienich.jpg) top left no-repeat; padding: 2px 0 2px 52px; height:28px; border-bottom:1px solid #c1d4f0; margin-bottom:4px; clear:both;}
.boxmail{background-position: 0 -38px;}
.boxloginAdmin{background-position:0 -76px;}
.blockLk{background:url(../images/bgbtomBlockLket.jpg) #dfedf8 bottom left no-repeat; width:255px; padding-bottom:4px; clear:both; margin-bottom:6px;}
.blockDtac{padding: 8px 0 8px 0; clear:both; overflow:hidden; height:32px;}
.blockDtac img{height:32px; margin: 0 8px 0 8px; float:left;}
.boxCtentNerListNews {position:relative; padding-left:10px;}
.boxCtentNerListNews ul{margin:0; padding:0;}
.boxCtentNerListNews ul li{background:url(../images/iconblue1.gif) 0 4px no-repeat; padding-left:10px; list-style:none; font-size:11px;}
.jcarousel-container-vertical {
    width: 230px;
    height: 180px;
    padding: 10px 6px 25px 6px;
}

.jcarousel-clip {
    overflow: hidden;
}

.jcarousel-clip-vertical {
    width:  230px;
    height: 180px;
}

.jcarousel-item {
   float:none!important;
}

.jcarousel-item-vertical {
    margin-bottom: 10px;
	 float:none;
}

.jcarousel-next-vertical {
    position: absolute;
    bottom: 10px;
    right:10px;
    width: 15px;
    height: 8px;
    cursor: pointer;
	background: url(../img/btn_down.png) 0 0 no-repeat;   
}

.jcarousel-prev-vertical {
    position: absolute;
    bottom: 10px;
    right:30px;
    width: 15px;
    height: 8px;
    cursor: pointer;
    background: url(../img/btn_up.png) 0 0 no-repeat;
}
#footer {
	background: url(../images/bgFooter.jpg) #1B77C0 top left repeat-x;
	min-height: 110px;
	height: auto!important;
	height: 110px;
	width: 80%;
	margin: 0 auto;
}
.footerCtent {
	width: 977px;
	margin: 0 auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	overflow: hidden;
	text-align:center;
}
.blockDtac {
padding: 8px 0 8px 0;
clear: both;
overflow: hidden;
height: 32px;
}
.blockDtac img{height:32px; margin: 0 8px 0 8px; float:inherit;}
.mnufooter {
text-align: center;
height: 26px;
line-height: 26px;
clear: both;
color: white;
}
.copyright {
text-align: center;
color: white;
line-height: 18px;
padding: 10px 0 10px 0;
}

.bderBtom {
padding-top: 5px;
border-bottom: 1px solid #c9d9f3;
margin-bottom: 6px;
clear: both;
}
.linkTitle {
background: url(../images/iconHome.jpg) left top no-repeat;
}
.blockItemDv1 {
float: left;
width: 270px;
overflow: hidden;
min-height: 170px;
height: auto!important;
height: 170px;
padding-bottom: 6px;
}
.paddingBt6 {
padding:6 6 6 6;
}
.bold {
font-weight: bold;
}
.textRight {
text-align: right;
}

.blockItemDv2{
float: left;
width: 270px;
overflow: hidden;
padding-right: 8px;
padding-left: 8px;
min-height: 170px;
height: auto!important;
height: 170px;
padding-bottom: 6px;
}
.linkTitleCtent {
padding: 6px 0 6px 30px;
}
a.color2 {
color: #0a539d;
}


.boxGrModule {
background: url(../../Content/images/bgCterGrModule.jpg) top left repeat-y;
width: 100%;
margin-bottom: 6px;
clear: both;
}

.itemModule {
float: left;
width: 238px;
margin: 0;
padding: 0;
outline: none;
}

.paddingR10 {
padding-right: 10px;
}

.paddingleft14 {
padding-left: 14px;
}

h1 {
background: url(../../Content/images/iconblue.gif) left no-repeat;
padding: 0 0 0 16px;
font-size: 13px;
line-height: 22px;
}

.paddingLr10 {
padding: 0 10px 0 10px;
}

.mnuShareItemMdule {
margin: 0;
padding: 6px;
}

.mnuShareItemMdule p {
list-style: none;
color: #5694c9;
display: block;
line-height: normal;
cursor: pointer;
position: relative;
padding: 2px 0 2px 0;
background: url(../../Content/images/bgDotlineBLue.jpg) bottom left repeat-x;
font-size: 11px;
}	

.mnuShareItemMdule p span {
color: #5694c9;
background: url(../../Content/images/iconblue1.gif) 0 2px no-repeat;
padding-left: 10px;
}	


Matched CSS Rules
.mnuSuv {
margin: 0;
padding: 4px 0 4px 10px;
display: none;
}

Matched CSS Rules
.mnuSuv a, .mnuSuv a:hover {
background: none;
color: #5694c9;
padding: 0;
font-size: 11px;
}	
.blockNews {
float: left;
width: 472px;
padding-right: 8px;
}
.blockMangluoi {
float: right;
width: 232px;
}
.mnuShareItemMdule p span a {
color: #5694c9;
text-decoration:none;
}