html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {

text-decoration: none;
color: #fff;

}

body {
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #222;
}

html {
	overflow: hidden;
}

#switcher {
	height: 50px;
	background: url('bg.png') repeat-x left top;
	border: 0;
	padding: 0;
	z-index: 99999;
	position: fixed;
	width: 100%;
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#theme_select {
	margin-top: 10px;
	margin-left: 20px;
	background: url(dropdown.png) no-repeat;
	display: block;
	color: #fff;
	font-size: 12px;
	line-height: 28px;
	text-shadow: 1px 1px 0px #000;
	padding-top: 1px;
	width: 212px;
	height: 28px;
}

#theme_dropdown_list {

border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding: 0px;

}

#theme_list {background: url(seperator.png) no-repeat left center; height: 49px;}

#theme_list a {
	padding-left: 15px;
}

.center {margin: auto;width: 100%;padding-top: 0px;}
.center ul li {display: inline-block;position: relative;}

.center ul li ul {

	display: none;
	margin-left: 21px;
	position: absolute;
	z-index: 500;
	width: 210px;
	-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	margin-top: -1px;

}

.themedropdown {
	height: auto;
	width: 230px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.center ul li ul li {
	background: #222 url(grain.png) repeat top left;
	border-bottom: 1px solid #333;
}

.center ul li ul li a {

	display: inline-block;
	padding: 12px;
	padding-top: 10px;
	padding-bottom: 0;
	min-width: 183px;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 0px #111;

}

.center ul li ul li a span.themetitle {
	float: left;
	padding-top: 2px;
	padding-bottom: 12px;
}

.center ul li ul li:hover {

	background: #111 url(grain.png) repeat top left;
	border-bottom: 1px solid #333;

}

.center ul li ul li a:hover {

	color: #fff;

}

.center ul li ul li a:hover span.html {

	background: #22769b;
	border: 1px solid #2793c3;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	cursor: pointer;

}

.center ul li ul li a:hover span.wp {

	background: #22769b;
	border: 1px solid #2793c3;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	cursor: pointer;

}

.center ul li ul li a span.html {
	margin-top: -2px;
	float: left;
	margin-right: 10px;
	font-size: 10px;
	line-height: 11px;
	font-weight: normal;
	width: 66px;
	height: 10px;
	background: #444 url(grain.png) repeat top left;
	border: 1px solid #555;
	color: #ccc;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
	border-radius: 2px; 

}

.center ul li ul li a span.wp {

	float: left;
	margin-right: 10px;
	font-size: 10px;
	line-height: 11px;
	font-weight: normal;
	width: 66px;
	height: 10px;
	background: #444 url(grain.png) repeat top left;
	border: 1px solid #555;
	color: #ccc;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
	border-radius: 2px; 

}

.center ul li ul li:first-child {

	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	padding-top: 0px;
}

.center ul li ul li:last-child {

	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;

}

#res-test {
	margin-left: 20px;
	margin-top:10px;
	height: 39px;
	float: left;
}
#res-test a {
	text-indent: -9999em;
	float:left;
	height:32px;
	margin-right:10px;
	background: url(../selector/screens.png) no-repeat;
}
#res-test a.desktop {width:32px; background-position: 0 -62px;}
#res-test a.desktop.active, #res-test a.desktop:hover {width:32px; background-position: 0 0;}
#res-test a.tabletL {width:32px; background-position: -43px -62px;}
#res-test a.tabletL.active, #res-test a.tabletL:hover {width:32px; background-position: -43px 0;}
#res-test a.tabletP {width:26px; background-position: -84px -62px;}
#res-test a.tabletP.active, #res-test a.tabletP:hover {width:26px; background-position: -84px 0;}
#res-test a.phoneL {width:22px; background-position: -119px -62px;}
#res-test a.phoneL.active, #res-test a.phoneL:hover {width:22px; background-position: -119px 0;}
#res-test a.phoneP {width:22px; background-position: -148px -62px;}
#res-test a.phoneP.active, #res-test a.phoneP:hover {width:22px; background-position: -148px 0;}


li.purchase {
	margin: 0;
	padding: 0;
	float: right;
	width: 126px;
	height: 50px;
	margin-right: 20px;
}

li.purchase a {
	margin: 0;
	padding: 0;
	float: left;
	background: url(purchase.png) no-repeat top left;
	width: 143px;
	height: 50px;
}

li.remove_frame {
	margin: 0;
	padding: 0;
	width: 41px;
	height: 50px;
	margin-left: 0px;
	float: right;
	margin-right: 20px;
}

li.remove_frame a {
	margin: 0;
	padding: 0;
	float: left;
	background: url(close.png) no-repeat top left;
	width: 41px;
	height: 50px;
}

#iframe {
width:100%;%
position:absolute;
top:0;
left:0;
}

#screenshot {
	position:absolute;
	z-index: 1;
	display:none;
    background: #fff;
	height: 203px;
	width: 400px;
    border: none;
	-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	left: 50%;
	top: 50px; 
	margin-left: 110px;
	/*margin-left: 230px;*/
}

#logo {margin-left: 10px;padding-left: 0; padding-right: 20px; float: left; background: url(seperator.png) no-repeat center right; height:50px;}
	#logo img {margin-top: 14px;}
	#logo a {
		width: 237px;
		height: 23px;
		display: inline-block;
		background: url(../selector/logo.png);
		margin-top: 13px;
	}

#res-test {display: block;}
#theme_list {background: none;}

@media only screen and (max-width: 1020px) { 
	#res-test {display: none;}
	#theme_list {background: none;}
}

@media only screen and (max-width: 725px) { 
	#logo a {
		background: url(../selector/logo-small.png);
		width: 17px;
		margin-left: 9px;
	}
}

@media only screen and (max-width: 513px) { 
	li.purchase {
		width: 45px;
		overflow: hidden;
	}
}
@media only screen and (max-width: 432px) { 
	#theme_select {
		background: url(../selector/dropdown-small.png) no-repeat;
		width: 130px;
	}
}

@media only screen and (max-width: 350px) { 
	li#logo {
		margin-left: 0;
		padding-right: 10px;
	}
}
