﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<List<G62BANK.ViewModels.HomeModel.News>>" %>

<style type="text/css">
    .title
    {
        font-size:12px;
    }
    .description
    {
        font-size:12px;
    }
    .publicdate
    {
        font-size:12px;
    }
</style>
<%for (int i = 0; i < Model.Count; i++)
  { %>
    <ul>
        <li>
            <a href="/Home/DetailsNews?Url=<%=Model[i].link%>"><%=Model[i].title%></a>
        </li>
    </ul>
<%} %>
<div>
    <a href="/Home/News">Tất cả các tin</a>
</div>