﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<G62BANK.Models.UserManager>" %>
Bạn có muốn xóa User : <%=Html.TextBoxFor(p => p.UserName, new {@id="us", @readonly = "readonly"})%>
<p></p><span style="color:Red;" id= "mes"></span>
