﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<List<G62BANK.Models.RoleManager>>" %>

<%=Html.DropDownList("RoleCode", new SelectList(Model.Select(x => new { Value = x.RoleCode, Text = x.RoleName }), "Value", "Text"), new { @class = "span4" })%>


